In [36]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time

In [37]:
linkedin = webdriver.Chrome()
linkedin.get("https://www.linkedin.com/login/")
time.sleep(5)
uname = "omprakash.sr2410@gmail.com"
password = "Opsr@2410"
username = linkedin.find_element(By.ID, "username")
username.send_keys(uname)  # Enter Your Email Address
pword = linkedin.find_element(By.ID, "password")
pword.send_keys(password)        # Enter Your Password
linkedin.find_element(By.XPATH, "//button[@type='submit']").click()
college_url = "https://www.linkedin.com/school/coimbatore-institute-of-technology/people/"
linkedin.get(college_url)

In [38]:
# Replace 'scroll_pause_time' with the desired pause time between scrolls (in seconds)
scroll_pause_time = 1

# Replace 'scrolls' with the number of times you want to scroll to load more profiles
scrolls = 2

# Scroll multiple times to load more profiles
for _ in range(scrolls):
    linkedin.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(scroll_pause_time)

In [39]:
src = linkedin.page_source
soup = BeautifulSoup(src, 'html.parser')
links = soup.find_all('a')
profile_links = [link['href'] for link in links if 'linkedin.com/in' in link['href']]

In [40]:
links = list(set(profile_links))

In [41]:
s = 'https://www.linkedin.com/in/ajay-2521'
s = s.split('?')

In [42]:
cleaned = []
for i in links:
    i = i.split('?')
    cleaned.append(i[0])

In [43]:
cleaned

['https://www.linkedin.com/in/srinidhi-balakrishnan-5295b787',
 'https://www.linkedin.com/in/parthiban-chinnaraju-35636923',
 'https://www.linkedin.com/in/gopalakrishnan-manickam-136536a9',
 'https://www.linkedin.com/in/ajay-2521',
 'https://www.linkedin.com/in/samivel-s-256563166',
 'https://www.linkedin.com/in/vigneshprabu-m-ab8a37166',
 'https://www.linkedin.com/in/pranav-surya-18792b143',
 'https://www.linkedin.com/in/manish-waran-9a54a1ba',
 'https://www.linkedin.com/in/karthikraja01',
 'https://www.linkedin.com/in/muniyappanmani',
 'https://www.linkedin.com/in/sudendar',
 'https://www.linkedin.com/in/jegankumar-balakrishnan-12a484144',
 'https://www.linkedin.com/in/balasubramaniam-s-k-1a1502110',
 'https://www.linkedin.com/in/vigneshanandakumar',
 'https://www.linkedin.com/in/gugan-v-a8290315b',
 'https://www.linkedin.com/in/preethi8p',
 'https://www.linkedin.com/in/sramkumar88',
 'https://www.linkedin.com/in/ragul-mehanathan-400b671b1',
 'https://www.linkedin.com/in/sugantha-priya-ramalingam-244616ba',
 'https://www.linkedin.com/in/mohanraj-veerabathran-7b2ba84',
 'https://www.linkedin.com/in/manoj-kumar-r-64a2b3158',
 'https://www.linkedin.com/in/thanigai-arasu-ramalingam-ba4427190',
 'https://www.linkedin.com/in/pradeep-kumar-474379168',
 'https://www.linkedin.com/in/dheveshwarann-r',
 'https://www.linkedin.com/in/vandana-arul',
 'https://www.linkedin.com/in/mahalingam-murugan-40702b146',
 'https://www.linkedin.com/in/poovarasan-kandasamy-453306156']

In [44]:
names = []
companies = []

for i in cleaned:
    fulllink = i
    linkedin.get(fulllink)
    time.sleep(8)
    src = linkedin.page_source
    soup = BeautifulSoup(src, 'lxml')

    #scraping name
    name = soup.find('title').text
    names.append(name)
    company = soup.find('div', {'class': 'text-body-medium break-words'}).text
    companies.append(company)

In [58]:
import pandas as pd
df = pd.DataFrame(list(zip(names, companies)), 
               columns =['Name', 'Title'])

In [59]:
df

,Name,Title
0,(1) Srinidhi Balakrishnan | LinkedIn,\n Software Engineer at Microsoft\n
1,(1) parthiban chinnaraju | LinkedIn,\n Factory Digitization Tech Lead at Garr...
2,(1) Gopalakrishnan Manickam | LinkedIn,\n Legacy Migration/Transformation Expert...
3,(1) AJAY M | LinkedIn,\n Golang Backend Developer || Software E...
4,(1) Samivel S | LinkedIn,\n Technical Support Engineer at KONE\n
5,(1) Vigneshprabu M | LinkedIn,\n DevOps Engineer at Tata Consultancy Se...
6,(1) Pranav Surya | LinkedIn,\n Lead Software Engineer at Freshworks\n...
7,(1) Manish waran | LinkedIn,\n SDE 3 at Amazon\n
8,(1) Karthik Raja K | LinkedIn,\n Ex SDE Intern @PrudentAI | CIT '24\n
9,(1) Muniyappan Mani | LinkedIn,\n Senior Software Engineer at Freshworks...
10,(1) Sudendar Senthil Kumar | LinkedIn,\n Software Engineer at KLA\n
11,(1) Jegankumar Balakrishnan | LinkedIn,\n Area Business Manager at Stryker\n
12,(1) BALASUBRAMANIAM S K | LinkedIn,\n Technology analyst at Infosys Chennai\...
13,(1) Vignesh Anandakumar | LinkedIn,\n Software Engineer 2 at PayPal\n
14,(1) GUGAN V. | LinkedIn,\n Senior Engineer\n
15,(1) Preethi P | LinkedIn,\n Data Science Student at CIT\n
16,(1) Ramkumar Shanmugam | LinkedIn,\n Platform Engineering at Freshworks\n
17,(1) Ragul Mehanathan | LinkedIn,\n Software Development Engineer - 2 at Z...
18,(1) Sugantha Priya Ramalingam | LinkedIn,\n Software Engineer at Applied Materials...
19,(1) Mohanraj Veerabathran | LinkedIn,\n Data Engineering\n
20,(1) Manoj kumar R | LinkedIn,\n Engineer at Titan Company Limited\n
21,(1) Thanigai Arasu Ramalingam | LinkedIn,\n Senior Software Engineer at Siemens Di...
22,(1) Pradeep Kumar | LinkedIn,\n Database Engineer @Zoho Labs #Postgre...
23,(1) Dheveshwarann R | LinkedIn,\n Product Developer | Tekizma Inc\n
24,(1) Vandana Arulkumaran | LinkedIn,\n Data Science Student at CIT\n
25,(1) Mahalingam Murugan | LinkedIn,\n R&D Driveline Systems\n
26,(1) Poovarasan Kandasamy | LinkedIn,\n Technical Team Lead at Syncfusion | Bo...

In [60]:
df.to_csv('result.csv', index = False)